services:
  jobs:
    image: jobs
    network_mode: "host"
    volumes:
      - /media/Library/SPE_Automated/:/logs
      - /media/Library/:/media/Library
      - /media/Masters/:/media/Masters
      - ${HOME}/.archivessnake.yml:/root/.archivessnake.yml
      - ${HOME}/.description_harvester:/root/.description_harvester
      - ${HOME}/.ssh:/root/.ssh
      - ./lastExport.txt:/opt/lastExport.txt
      - ./rclone:/root/.config/rclone
    working_dir: /app
    environment:
      - DESCRIPTION_HARVESTER_PLUGIN_DIR=/app/description_harvester_plugins
    entrypoint: ""